.hero {
	padding-top: 100px;
}

.heroImg {
	font-family: Poppins;
	position: relative;
	z-index: 9;

	.dimg {
		position: absolute;
		top: -100px;

		@media (max-width: 576px) {
			display: none;
		}
	}

	.v {
		position: absolute;
		top: 450px;
		left: -40;
		object-fit: contain;
		@media (max-width: 992px) {
			display: none;
		}
	}

	.Imgblob {
		position: absolute;
		left: -60px;
		top: 0;
		width: 80%;
		height: 60%;
		@media (max-width: 992px) {
			width: 100%;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}

	h1 {
		font-size: 75px;
		font-weight: bold;
		color: #fff;
	}
}

.trimCirlce {
	position: absolute;
	z-index: 50;
	transform: translate(37rem, -160px);
}

.heroText {
	font-family: Poppins;
	margin-bottom: 150px;
	position: relative;
	z-index: 100;
	@media (max-width: 992px) {
		position: relative;
		left: 1.5rem;
		right: 0;
	}
	h1 {
		font-size: clamp(1.8rem, -0.875rem + 8.333vw, 3.5rem);
		color: #fff;
		font-weight: 900;
		line-height: 1.5;
		@media (max-width: 992px) {
			font-size: 36px;
		}
		@media (max-width: 576px) {
			font-size: 32px;
			margin-bottom: 20px;
		}
	}
	button {
		width: 154px;
		height: 42px;
		background: linear-gradient(90deg, #57199e 0%, #c64bfb 100%);
		border-radius: 27px;
		border: none;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
		@media (min-width: 769px) and (max-width: 992px) {
			width: 354px;
			height: 62px;
			font-size: 18px;
			font-weight: bold;
		}

		@media (max-width: 992px) {
			width: 300px;
			height: 55px;
		}

		@media (max-width: 768px) {
			width: 300px;
			height: 55px;
			font-size: 18px;
			font-weight: bold;
		}
		@media (max-width: 576px) {
			width: 250px;
			height: 55px;
		}
	}

	@media (min-width: 769px) and (max-width: 992px) {
		position: relative;
		right: calc(130px + 80px);
	}

	@media (max-width: 768px) {
		position: relative;
		left: -7rem;
	}

	@media (max-width: 576px) {
		position: relative;
		left: calc(20px + 20px);
	}
}

.stat {
	display: flex;
	flex-direction: row;
	gap: 20px;
	font-family: Poppins;
	p {
		color: rgb(119, 119, 119);
		font-size: 18px;
		font-weight: normal;
	}

	h6 {
		color: #6213be;
		font-size: 45px;
		font-weight: bold;

		@media (max-width: 992px) {
			font-size: 36px;
		}
		
		@media (max-width: 576px) {
			font-size: 35px;
		}
	}
	@media (max-width: 576px) {
		position: relative;
		right: 30px;
	}
}

.lines {
	width: 100%;
	background: linear-gradient(90deg, #57199e 100%, #12001a 50%);
	margin-top: 50px;
	margin-bottom: 30px;
	transform: matrix(1, 0, 0, 1, 0, 0);

		@media (max-width: 768px) {
		width: 80%;
	}
}
