.hero {
	padding: 50px;
}

.heroImg {
	img {
		width: 60%;
		height: 100%;
		object-fit: contain;
		position: relative;
	}

	h1 {
		font-size: 75px;
		font-weight: bold;
		color: #fff;
		position: absolute;
		left: 180px;
		bottom: 250px;
	}
}

.trimCirlce{
	position: absolute;
	z-index: 50;
	transform: translate(37rem, -160px);
}

.heroText {
  margin-bottom: 150px;
  	position: relative;
	z-index: 100;
	h1 {
		font-size: 50px;
		color: #fff;
		font-weight: 900;
		line-height: 1.5;
	}
	button {
		width: 154px;
		height: 42px;
		background: linear-gradient(90deg, #57199e 0%, #c64bfb 100%);
		border-radius: 27px;
		border: none;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
	}
}

.stat {
	display: flex;
	flex-direction: row;
	gap: 20px;

	p {
		color: rgb(119, 119, 119);
		font-size: 18px;
		font-weight: normal;
	}

	h6 {
		color: #6213be;
		font-size: 45px;
		font-weight: bold;
    // opacity: 60%;
   
	}
}

.lines {
	width: 100%;
	background: linear-gradient(90deg, #57199e 100%, #12001a 50%);
  margin-top: 50px;
  margin-bottom: 30px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
