.auction {
	padding-top: 100px;
	text-align: center;
	font-family: Poppins;
	.lopper {
		position: absolute;
		z-index: 50px;
	}
	h1 {
		color: rgb(255, 255, 255);
		font-size: 36px;
		padding-bottom: 30px;
		font-weight: 800;
	}

	.auctionBox {
		// display: flex;
		// flex-direction: row;
		// justify-content: center;
		// align-items: center;
		// gap: 2rem;

		.courl {
			width: 57px;
			height: 57px;
			background: linear-gradient(
				270deg,
				rgba(195, 74, 249, 0.43) 0%,
				rgba(0, 0, 0, 0) 83.33%
			);
			transform: matrix(-1, 0, 0, 1, 0, 0);
			border-radius: 50px;
		}

		.smallerBox {
			width: 362px;
			height: 392px;
			background: linear-gradient(
				270deg,
				#1b0f23 71.16%,
				rgba(120, 45, 170, 0) 100%
			);
			border-radius: 16.824px;

			img {
				width: 300px;
				height: 287.69px;
				object-fit: cover;
				border-radius: 16.824px;
				margin: 25px;
				opacity: 0.5;
			}

			.smallBox {
				position: absolute;
				transform: translate(3rem, -7rem);
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				justify-items: center;
				color: white;
				width: 247px;
				height: 70px;
				background: rgba(217, 217, 217, 0.21);
				backdrop-filter: blur(8px);
				border-radius: 12.618px;

				p {
					color: #ffffff;
					font-weight: 400;
					font-size: 14px;
					opacity: 0.5;
					margin-top: 5px;
				}

				h5 {
					color: #ffffff;
					font-weight: 800;
					font-size: 18px;
				}
			}

			.profile {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				color: rgb(255, 255, 255);
				font-weight: 800;

				h5 {
					font-size: 17px;
				}

				p {
					font-size: 14px;
				}
			}
		}

		.bigBox {
			width: 398px;
			height: 466px;
			background: linear-gradient(
				270deg,
				#1b0f23 71.16%,
				rgba(27, 15, 35, 0) 100%
			);
			border-radius: 16.824px;

			img {
				width: 345px;
				height: 352px;
				object-fit: cover;
				border-radius: 16.824px;
				margin: 25px;
				opacity: 0.5;
			}

			.smallBox {
				position: absolute;
				transform: translate(3rem, -7rem);
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				justify-items: center;
				color: white;
				width: 300px;
				height: 73px;
				background: rgba(217, 217, 217, 0.21);
				backdrop-filter: blur(8px);
				border-radius: 12.618px;

				p {
					color: #ffffff;
					// font-weight: 400;
					font-size: 14px;
					opacity: 0.5;
					margin-top: 5px;
				}

				h5 {
					color: #ffffff;
					font-weight: 800;
					font-size: 18px;
				}
			}
			.profile {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				color: rgb(255, 255, 255);
				font-weight: 800;

				h5 {
					font-size: 20px;
				}

				p {
					font-size: 16px;
				}
			}
		}
	}
	.user {
		display: flex;
		flex-direction: row;
		// width: 100%;
		gap: 20px;
		margin: 60px 40px;

		label {
			color: white;
		}

		select {
			background: transparent;
			border: none;
			outline: none;
			color: #3b234b;
		}
	}
	.userReview {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		justify-self: center;
		margin: 10px 30px;
	}
	.box {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;
		width: 295px;
		height: 81px;
		background: rgba(217, 217, 217, 0.06);
		border-radius: 13.6316px;
		border: 1.14px solid;
	}
	h3 {
		font-size: 14px;
		color: white;
	}
	h4 {
		font-size: 12px;
		color: white;
		opacity: 0.4;
	}
	small {
		font-weight: 500;
		font-size: 12px;
		line-height: 27px;
		color: #ffffff;
		opacity: 0.4;
	}

	.newsLetter {
		width: 64rem;
		height: 240px;
		background: linear-gradient(93.06deg, #974fcf 0%, #59178f 97.86%);
		border: 2px solid #af6de4;
		border-radius: 33px;
		margin-top: 95px;
		margin-left: 40px;
		aside {
			padding-left: 45px;
			padding-top: 15px;
			text-align: left;
		}
		h3 {
			font-weight: 700;
			font-size: 20px;
			line-height: 46px;
			color: white;
		}

		p {
			font-weight: 450;
			font-size: 12px;
			line-height: 22px;
			color: white;
		}

		form {
			width: 523px;
			height: 53px;
			background: #722ea9;
			border-radius: 26.5px;
		}

		input {
			background: #722ea9;
			border-radius: 26.5px;
			padding: 15px;
			border: none;
			outline: none;
		}

		button {
			width: 159px;
			height: 48px;
			background: #ffffff;
			border: none;
			border-radius: 26.5px;
		}
		img{
			position: absolute;
			width: 280px;
			object-fit:cover;
			bottom: 0;
			mix-blend-mode: screen;
			overflow: auto;
			right: 200px;
		}
	}
}

/* Rectangle 7 */
