.user {
	display: flex;
	flex-direction: row;
	// width: 100vh;
	gap: 20px;
	padding-top: 100px;

	label {
		color: white;
	}

	select {
		background: transparent;
		border: none;
		outline: none;
		color: #3b234b;
	}

	@media (max-width: 576px) {
		margin: auto 120px;
	}
}
.userReview {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	justify-self: center;
	margin-top: 30px;

	@media (max-width: 992px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}
	@media (max-width: 576px) {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		// margin-left: 40px;
	}
}
.box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 295px;
	height: 70px;
	background: rgba(217, 217, 217, 0.06);
	border-radius: 13.6316px;
	border: 1.14px solid;

	img {
		width: 72.01px;
		height: 72.01px;
		background: #d9d9d9;
		border: 1.13596px solid #12001a;
		border-radius: 50px;
		position: relative;
		left: -30px;
	}

	h3 {
		font-size: 14px;
		color: white;
		width: 100%;
	}
	h4 {
		font-size: 12px;
		color: white;
		opacity: 0.4;
	}
	small {
		font-weight: 500;
		font-size: 12px;
		line-height: 27px;
		color: #ffffff;
		opacity: 0.4;
	}

	@media (max-width: 992px) {
		width: 300px;
		height: 70px;
	}

	@media (max-width: 768px) {
		width: 260px;
		height: 80px;
	}

	@media (max-width: 576px) {
		width: 295px;
		height: 70px;
	}
}
.newsLetter {
	width: 66rem;
	height: 260px;
	background: linear-gradient(93.06deg, #974fcf 0%, #59178f 97.86%);
	border: 2px solid #af6de4;
	border-radius: 33px;
	margin-top: 95px;
	position: relative;
	z-index: 90;

	.newsbox {
		margin: auto 30px;

		@media (max-width: 768px) {
			margin: 0 auto;
		}

			@media (max-width: 576px) {
			padding: 0px 30px;
		}
	}
	aside {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	h3 {
		font-weight: 700;
		font-size: 20px;
		line-height: 46px;
		color: white;
	}

	p {
		font-weight: 450;
		font-size: 14px;
		line-height: 22px;
		color: white;

		@media (max-width: 992px) {
			font-size: 12px;
		}

			@media (max-width: 768px) {
				font-size: 16px;
		}

		@media (max-width: 576px) {
			font-size: 16px;
		}
	}

	form {
		width: 400px;
		height: 53px;
		background: #722ea9;
		border-radius: 26.5px;

		@media (max-width: 992px) {
			width: 400px;
		}
		@media (max-width: 576px) {
			width: 250px;
			height: 50px;
			margin: 0 auto;
		}
	}

	input {
		background: #722ea9;
		border-radius: 26.5px;
		padding: 15px;
		border: none;
		outline: none;

		@media (max-width: 576px) {
			width: 250px;
			height: 50px;
		}
	}

	button {
		width: 159px;
		height: 48px;
		font-size: 16px;
		color: #000;
		background: #ffffff;
		border: none;
		border-radius: 26.5px;

		@media (max-width: 992px) {
			width: 120px;
		}

		@media (max-width: 768px) {
			width: 160px;
		}

		@media (max-width: 576px) {
			margin: 10px 60px;
		}
	}
	.bgImg {
		img {
			position: relative;
			z-index: 99;
			width: 97%;
			object-fit: cover;
			mix-blend-mode: screen;
			overflow: auto;

			@media (max-width: 1200px) {
				width: 90%;
				margin-top: 35px;
			}

			@media (max-width: 992px) {
				width: 100%;
				margin-top: 49px;
				margin-left: -25px;
			}

			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	@media (max-width: 1200px) {
		width: 60rem;
		height: 260px;
	}

	@media (max-width: 992px) {
		width: 46rem;
		height: 200px;
	}

	@media (max-width: 768px) {
		width: 30rem;
		height: 220px;
	}
	@media (max-width: 576px) {
		width: 22rem;
		height: 350px;
		margin-left: -10px;
	}
}
