.footer{
    	padding-top: 100px;
      	@media (max-width: 768px) {
          margin:auto 20px;
        }
	
.footerLogo{
  p{
      padding-top: 20px;
    color: #ffff;
  }
}
    .footerNav{
        display: flex;
        flex-direction: row;
        gap: 2rem;

        p{
          color: #964ECE;
          font-size: 14px;
          font-weight: 800;
        }

        li{
            list-style: none;
            color: #ffff;
            line-height: 27px;
        }
        	@media (max-width: 768px) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
      margin-top: 50px;
		}
    }
    .footerIcons{
      img{
       padding-left: 10px;
      }
      
    }
}

