.nav {
	padding: 30px;
	color: #fff;

	h4 {
		font-size: 20px;
	}
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2rem;
	}

	li {
		list-style: none;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: #8b8686;
			opacity: 0.8;
		}
	}
}

.btnSearch {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.form {
	border: 1px solid #fff;
	border-radius: 24px;
	padding: 10px;
	width: 150px;
	height: 42px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	opacity: 0.4;

	input {
		border: none;
		outline: none;
		padding: 10px;
		width: 120px;
		height: 42px;
		background: none;
		background-color: transparent;
		font-size: 14px;
		color: #fff;
	}
}

.btn {
	button {
		width: 134px;
		height: 42px;
		background: linear-gradient(90deg, #57199e 0%, #c64bfb 100%);
		border-radius: 27px;
		border: none;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
	}
}
