.lines{
      width: 100%;
      color:#ffffff;
    }

.drop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    p{
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: normal;
    }
}